html {
  height: 100%;
}


body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* background-color: antiquewhite; */
}


/* @media screen and (max-width: 600px) {
  .bg-dark {
    background-image: url(../../Tioga-Forms/images/tf-logo.jpg);
  }
} */



/* .display-1 {
  font-weight: 500;
  color: orangered;
} */

 /* .photos {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-column-gap: 20px;
   margin-top: 100px;
 } */






/* body {
  background-image: url("../../Images/background_image2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
} */
/* 
#navbarNavAltMarkup {
  background-image: url("../../Images/background_image2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
} */

/* .btn-store {
  color: #777777;
  min-width: 254px;
  padding: 12px 20px !important;
  border-color: #dddddd !important;
}

.btn-store:focus, 
.btn-store:hover {
  color: #ffffff !important;
  background-color: #168eea;
  border-color: #168eea !important;
}

.btn-store .btn-label, 
.btn-store .btn-caption {
  display: block;
  text-align: left;
  line-height: 1;
}

.btn-store .btn-caption {
  font-size: 24px;
} */

footer {
  margin-top: auto;
}